@model KategoriSilVM

<form class="form" method="post">
    <h2>Kategori Sil</h2>

    <input asp-for="Id" hidden />
    <input asp-for="Isim" hidden />
    <input asp-for="UrunSayisi" hidden />

    <div class="group">
        <label>İsim</label>
        <input type="text" value="@Model.Isim" disabled />
    </div>

    <div class="group">
        <label>Ürün Sayısı</label>
        <input type="text" value="@Model.UrunSayisi" disabled />
    </div>

    <div class="group">
        <div>
            <span class="text-l color-warning">Uyarı</span>
            <span class="fa fa-warning text-l color-warning"></span>
        </div>
        <span class="color-warning">Kategorideki bütün ürünler silinecek!</span>
    </div>

    <div class="hbox-r500 jc-end gap4">
        <a asp-action="Listele" class="btn2 ph12">Geri Dön</a>
        <button class="btn-danger text-l bold ph48 pv4 order-r500-first"
                type="submit">
            Sil
        </button>
    </div>
</form>
