@model GirisVM

<form class="form" method="post">
    <h2>Giriş</h2>
    <div class="hata" asp-validation-summary="ModelOnly"></div>
    <div class="group">
        <label asp-for="KullaniciAdi"></label>
        <input asp-for="KullaniciAdi" />
        <span class="hata" asp-validation-for="KullaniciAdi"></span>
    </div>
    <div class="group">
        <label asp-for="Sifre"></label>
        <input asp-for="Sifre" />
        <span class="hata" asp-validation-for="Sifre"></span>
    </div>
    <label class="as-start checkbox">
        <input asp-for="BeniHatirla" />
        <span class="box">
            <span class="mark"></span>
        </span>
        Beni Hatırla
    </label>
    <div class="hbox-r500 jc-end gap4">
        <a class="btn2 ph12" asp-action="Kaydol">Kaydol</a>
        <button class="btn-primary text-l bold ph48 pv4 order-r500-first"
                type="submit">
            Giriş
        </button>
    </div>
</form>

@section Scripts {
    <partial name="_Validation" />
}