@model KaydolVM

<form class="form" method="post">
    <h2>Kaydol</h2>
    <div class="hata" asp-validation-summary="ModelOnly"></div>
    <div class="group">
        <label asp-for="KullaniciAdi"></label>
        <input asp-for="KullaniciAdi" />
        <span class="hata" asp-validation-for="KullaniciAdi"></span>
    </div>
    <div class="group">
        <label asp-for="Sifre"></label>
        <input asp-for="Sifre" />
        <span class="hata" asp-validation-for="Sifre"></span>
    </div>
    <div class="group">
        <label asp-for="SifreTekrar"></label>
        <input asp-for="SifreTekrar" />
        <span class="hata" asp-validation-for="SifreTekrar"></span>
    </div>
    <div class="hbox-r500 jc-end gap4">
        <a class="btn2 ph12" asp-action="Giris">Giriş</a>
        <button class="btn-primary text-l bold ph48 pv4 order-r500-first"
                type="submit">
            Kaydol
        </button>
    </div>
</form>

@section Scripts {
    <partial name="_Validation" />
}