@model KullaniciListeleVM

<div class="panel p64-r vbox gap36 as-s">
    <h1 class="m0 text-center">Kullanıcılar</h1>
    <table class="table panel p16">
        <thead>
            <tr>
                <th class="color-primary text-l w90p">İsim</th>
                <th class="color-primary text-l text-nowrap">Ödenmiş Siparişler</th>
                <th class="color-primary text-l">Eylemler</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>@item.Isim</td>
                    <td>@item.OdenmisSiparis</td>
                    <td>
                        <div class="hbox jc-c ai-c gap4">
                            <a asp-action="Duzenle" asp-route-id="@item.Id" class="btn2 pv8 ph16 hbox jc-c ai-c gap12">
                                <span class="bold hide-r800">Düzenle</span>
                                <span class="fa fa-pencil-alt text-xxl"></span>
                            </a>
                            <a asp-action="Sil" asp-route-id="@item.Id" class="fa fa-trash-alt text-xxl btn2-danger p8"></a>
                        </div>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
