<div class="panel shadow-l vbox jc-c ai-c p32-r gap36 shadow-b-l">
    <h1 class="m0">
        <span class="fa fa-xmark-circle color-danger"></span>
        <span class="color-danger">Erişim Engellendi!</span>
    </h1>
    <p class="m0">Bu sayfaya erişim izniniz yok.</p>
</div>
